@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbarHeight: 5rem;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scrollHeight {
  scrollpadding-top: var(--navbarHeight);
}
